.form__container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name__form {
  display: grid;
  grid-template-columns: 200px;
  padding: 20px 20px;
  justify-items: center;
  background: white;
  border-radius: 10px;
  grid-gap: 20px;
}

.form__input {
  padding: 5px 10px;
  font-family: inherit;
}

.form__button {
  background-color: darkslategray;

}
